/* Estilos para la galería de novedades */

.news h2 {
    background-color: #E3A8BF; 
    color: #333; 
    border-radius: 0px; 
    padding: 15px 30px; 
    display: inline-block; 
    font-size: 2em; 
    margin: 0 auto; 
    text-align: center; 
}
.news-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.news-item {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.news-item img {
    width: 50%; 
    height: auto; 
    display: block; 
    margin-left: 10px; 
}

/* Estilos para la información debajo de cada imagen */
.news-info {
    margin-top: 10px; 
}

    /* Para el index html 1 datos*/ 
 
  /* Media queries para pantallas pequeñas (menores a 768px) */
@media (max-width: 767px) {

    .logo img {
        max-width: 120px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
    /* Navegación */
    nav ul {
        text-align: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    /* Sección de Imagen Principal y Texto al Costado */
    .main-image-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
    }
    
    .main-image-text img {
        width: 100%;
        height: auto;
    }
    
    .text-side p {
        text-align: center;
        margin: 10px;
        font-size: 0.9em;
    }
    
    /* Novedades */
    .news-gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 15px;
    }
    
    .news-item {
        width: 100%;
    }
    
    .news-item img {
        width: 100%;
        height: auto;
    }
    
    .news-info {
        text-align: center;
    }
    
    /* Testimonios */
    .testimonial-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
    }
    
    .testimonial {
        margin-bottom: 15px;
        text-align: center;
        width: 100%;
    }
    
    /* Footer */
    footer {
        padding: 10px;
        text-align: center;
    }
    
    .contact-info, .about-us {
        text-align: center;
        padding: 0 15px;
    }
    
    .contact-info p, .about-us p {
        margin: 5px 0;
    }
}